* {
    box-sizing: border-box;
}

.drag-drop-container {
    border: 1px solid var(--lwc-colorBorder, #e5e5e5);
    border-radius: 5px;
    position: relative;
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0.5rem 0;
}

.item-container-scrollable {
    height: 100%;
    overflow: auto;
    flex: 1;
}

.item-container {
    border: 1px solid var(--lwc-colorBorder, #e5e5e5);
    width: 100%;
    min-height: 3rem;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    overflow: auto;
    flex: 1;
}

.item-container.active {
    border: 1px solid var(--lwc-colorBorderBrand, #1b96ff);
    border-radius: 5px;
}

.item {
    /*text-align: center;
    user-select: none;
    min-height: 3rem;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid var(--lwc-colorBorder, #e5e5e5);
    background-color: var(--lwc-colorBackground, #f3f3f3);*/
    /*margin: 4px;*/
    /*overflow: hidden;*/
    user-select: none;
    min-height: 2rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(24, 24, 24);
    background-color: var(--lwc-colorBackground, #f3f3f3);
}


.placeholder {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.item-place-holder, .bin-box {
    height: 3rem;
}

.item.selected.main {
    opacity: 1;
    border-color: var(--lwc-colorBorderBrand, #1b96ff);
}

.item.selected {
    opacity: 0.5;
    z-index: 99999;
}

.info-box {
    position: fixed;
    top: 0;
    left: 0;
}

.undo-btn {
    flex: 0;
    margin: 1rem 0;
    text-align: right;
    user-select: none;
}

.undo-btn:hover {
    cursor: pointer;
}

.undo-btn:active {
    opacity: 0.7;
}

.bin-box {
    text-align: center;
    margin-top: 4rem;
    border: 1px dotted #c9c9c9;
    border-radius: 5px;
    flex: 0;
}

.bin-box.visited {
    background-color: #c9c9c9;
}